<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>   CV Jacques ZHU          </title>
    <link href="style.css" rel="stylesheet" />
    .boite {
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    /*Pour aligner les elements de haut en bas et les centrer au centre de ta boîte*/
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    width: 400px;
    height: 200px;
    padding: 1em;
    border: none;
    border-radius: 10px;
    /*background-color: white;*/
    box-shadow: 0 2px 2px grey;
    transition: 20s;
    }
</head>

<body>

<div class="boite">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    Austin
    <button type="button" class="btn btn-primary">
        Cliquez ici pour se connecter
    </button>
</div>
</body>

</html>


